<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order Submitted</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="thankyou-container">
  <div class="thankyou-box">
    <h1>Thank You, <%= userId %>!</h1>
    <p>Your order for <b><%= customerName %></b> has been submitted successfully.</p>
    <p class="info">Admin will confirm after checking your payment.
     
    </p>
    <a href="/" class="btn-home">Go to Home</a>
  </div>
</div>

</body>
</html>
